<div class="row">
     <h1>Edit Household Info</h1>
</div>
<div class="row">
    <form ng-submit=addCourse()>
       
           <select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
                <option ng-repeat="house in houseHolds" value="{{house.passcode}}">{{house.name}}</option>
            </select>
            <div class="row">
                <h2>Household Name:{{houseEdit.name}}</h2>
            </div>
            <div class="row">
                {{houseEdit}}
            </div>
            <br>
           <input type="button" ng-click="submitEdit()" value="Submit to database">
    </form>
</div>