<h1>Create a Student</h1>
      <form ng-submit="newStudent()">
                    <table>
                        <tr>
                            <td>First Name:</td>
                            <td><input type="text" ng-model="fName"></td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td><input type="text" ng-model="lName"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" ng-model="email"></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="text" ng-model="password"></td>
                        </tr>
                        <tr>
                            <td>Council:</td>
                            <td><input type="text" ng-model="council"></td>
                        </tr>
                        <tr>
                            <td>District:</td>
                            <td><input type="text" ng-model="district"></td>
                        </tr>
                        <tr>
                            <td>Unit:</td>
                            <td><input type="text" ng-model="unit"></td>
                        </tr>
                        <tr width=2>
                            <td><input type=submit></td>
                        </tr>
                    </table>
                
                </form>